  .title3{
    font-size: 2.5rem;
  
    text-align:center ;
    padding-top: 4rem;
  }


  .project {
    display: flex;
 
    padding-top: 3rem;
    align-items: center;
    padding-left: 8rem;
  }
.jk {
  padding: 3rem;
}

.hb {
  padding:3rem;
  
}