

.info {
  font-size:1.3rem;
  margin-bottom: .6rem;
  padding:.5rem;
  margin-left: 1.5rem;
  list-style: none;
}

.title2{
  margin-left: 2rem;
  margin-top: 4rem;;
  padding-bottom: 1rem;
  font-size: 2.3rem;
}

.dados2{
  width:70%;
  
   font-size:2rem;
  background:#B5B5B5;
}

.dados3{
 padding-top: 3rem;
  width:30%;
  background-color:#CFCFCF;
}

.list-1, .list-2{
  list-style: none;
  font-size: 1rem;
  text-decoration:underline;
  margin-left: 1rem;
 
  
}

.list-3 {
  list-style: none;
}

.contato, .conhec{
  padding:.5rem;
  margin-top: 1.5rem;
  font-size:1.5rem;
  
 
}

.informacoes {
  display: flex;

  width:100vw;
  height:100vh;

}

.icon {
  margin-left: 1rem;;
  height:2rem;
  width:2rem;
}

.icon2 {
  padding-top: 2rem;
  
}
